.metaAhorroContainer {
    background-color: #FBFBFA; /* light background color */
    border-radius: 8px;
    padding: 2rem;
    max-width: 400px;
    margin: 5rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .metaAhorroTitle {
    color: #1B1B1B; /* dark text color */
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .metaAhorroForm {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    color: #2D3435; /* grey text color */
    margin-bottom: 0.5rem;
  }
  
  .input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ABBBB0; /* input border color */
    border-radius: 4px;
    background-color: #FFF;
  }
  
  .metaAhorroButton {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #EB6B2F; /* button background color */
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    display: block; /* to allow it to fill the form width */
    margin-bottom: 1rem; /* spacing between button and link */
  }
  
  .metaAhorroButton:hover,
  .metaAhorroButton:focus {
    background-color: #F34C55; /* button hover color */
  }
  
  /* Since the Link is styled as a button, let's create another class for it */
  .registerLink {
    padding: 0.75rem;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #2D3435; /* darker button color */
    color: #FBFBFA; /* light text color */
    margin-top: 1rem; /* to add space between the buttons */
  }
  
  .registerLink:hover,
  .registerLink:focus {
    background-color: #1B1B1B; /* even darker for hover state */
  }

.input,
.loginButton,
.registerLink {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  width: 100%; /* Asegura que cada input ocupe todo el ancho disponible */
}

.errorMsg{
  text-align: center;
  color: #F34C55;
}
  
  