.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th,
  .td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ABBBB0;
  }
  
  .th {
    background-color: #2D3435;
    color: #FBFBFA;
  }
  
  .tbodyTr:hover {
    background-color: #f3f3f3;
  }

  .buttonContainer {
    display: flex; /* Esto alineará los botones en línea */
    gap: 10px; /* Esto agregará un pequeño espacio entre los botones */
  }
  
  .deleteButton {
    background-color: #EB6B2F; /* Color naranja oscuro para eliminar */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex; /* Alinea los ítems del botón en línea */
    align-items: center;
  }
  
  .editButton {
    background-color: #F34C55; /* Color rojo para editar */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex; /* Alinea los ítems del botón en línea */
    align-items: center;
  }